@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");
@import "tailwindcss";

* {
  font-family: var(--font-mirage);
}

:root {
  --background: #373737dd;
  --foreground: #ffffff;
}

html {
  background-image: url("./assets/background.jpeg");
  background-size: cover;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1.5rem;
}
